<%- partial('_pre') %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <%- partial('_partial/archive') %>
</div>
<%- partial('_partial/side') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
<meting-js
    name="破茧"
    artist="张韶涵"
    autoplay="true"
    fixed="true"
    url="https://cdn.jsdelivr.net/gh/qinxs/cdn-assets/media/pojian.mp3"
    cover="https://p3fx.kgimg.com/stdmusic/20200523/20200523184451585649.jpg">
</meting-js>