<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/cover') %>
  <div class="l_body<%- page.cover ? '' : ' nocover' %>">
    <div class='body-wrapper'>
      <%- body %>
      <script>setLoadingBarProgress(60);</script>
    </div>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
  </div>
  <%- partial('_partial/scripts') %>
  <!-- 页面点击小红心 -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/qinxs/cdn-assets/js/love.js"></script>
  <!-- 飘动的彩带背景 -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/qinxs/cdn-assets/js/piao.js"></script>
  <script>setLoadingBarProgress(100);</script>
</body>
</html>
