<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/cover') %>
  <div class="l_body<%- page.cover ? '' : ' nocover' %>">
    <div class='body-wrapper' id="pjax-container">
      <% if (theme.plugins.pjax.enable) { %>
        <%- partial('_third-party/pjax/data') %>
      <% } %>
      <%- body %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
  </div>
  <div>
    <%- partial('_partial/scripts') %>
    <% if (theme.plugins.pjax.enable) { %>
      <%- partial('_third-party/pjax/index') %>
    <% } %>
  </div>
  <!-- 一言 -->
  <script>
    (function() {
      const is_mobi = navigator.userAgent.toLowerCase().match(/(ipod|ipad|iphone|android|coolpad|mmp|smartphone|midp|wap|xoom|symbian|j2me|blackberry|wince)/i) != null;
      var max_length = is_mobi ? 10 : 20;
      fetch('https://v1.hitokoto.cn/?max_length='+max_length)
        .then(function (res){
          return res.json();
        })
        .then(function (data) {
          window.hitokoto = data.hitokoto;
          try{
            document.getElementById('hitokoto').innerText = window.hitokoto;
          }catch(e){};
        })
        .catch(function (err) {
          console.error(err);
        })
    })();
  </script>
</body>
</html>
