<% if (theme.site_footer) { %>
  <%
  var layout = theme.site_footer.layout;
  if (config.theme_config && config.theme_config.footer && config.theme_config.footer.layout) {
    layout = config.theme_config.footer.layout;
  }
  %>
  <footer class="footer clearfix">
    <% layout.forEach(function(item){ %>
      <% if (item == 'social') { %>
        <br>
        <div class="social-wrapper">
          <% (theme.site_footer.social||[]).forEach(function(value){ %>
            <% if (value.url && (value.icon || value.img || value.avatar)) { %>
              <a href="<%= url_for(value.url) %>"
                class="social <%- value.icon %> flat-btn"
                target="_blank"
                rel="external nofollow noopener noreferrer">
                <% if (value.img) { %>
                  <img src="<%- value.img %>"/>
                <% } else if (value.avatar) { %>
                  <img src="<%- value.avatar %>" style="border-radius:120px"/>
                <% } %>
              </a>
            <%}%>
          <%})%>
        </div>
      <% } else if (item == 'aplayer') { %>
        <div class="aplayer-container">
          <%- partial('../_third-party/aplayer/layout', {post: null, where: 'footer'}) %>
        </div>
      <% } else if (item == 'license') { %>
        <div><%- markdown(__('footer.license')) %></div>
      <% } else if (item == 'info') { %>
        <div style="line-height: 1em">
          <div class="github-badge"><span class="badge-subject" title="由 Hexo 强力驱动">Powered</span><a class="badge-value bg-red" rel="external nofollow noopener noreferrer" href="//hexo.io/" target="_blank" data-pjax-state="">Hexo</a></div>
          <div class="github-badge"><span class="badge-subject" title="站点使用 Volantis 主题">Theme</span><a class="badge-value bg-orange" rel="external nofollow noopener noreferrer" href="//volantis.js.org/" target="_blank" data-pjax-state="">Volantis</a></div>
          <div class="github-badge"><span class="badge-subject" title="jsDelivr 提供 CDN 加速服务">CDN</span><a class="badge-value bg-brightgreen" rel="external nofollow noopener noreferrer" href="//www.jsdelivr.com/" target="_blank" data-pjax-state="">jsDelivr</a></div>
          <div class="github-badge"><span class="badge-subject" title="静态网页托管于 GitHub Pages 和 Coding Pages">Hosted</span><span class="badge-value bg-blue"><a rel="external nofollow noopener noreferrer" href="//github.com/" target="_blank" data-pjax-state="">GitHub</a> & <a rel="external nofollow noopener noreferrer" href="//coding.net/" target="_blank" data-pjax-state="">Coding</a></span></div>
          <br>
          <div class="github-badge"><span class="badge-subject" title="已在 阿里云 备案">蜀ICP备</span><a class="badge-value bg-gray" rel="external nofollow noopener noreferrer" href="//beian.miit.gov.cn" target="_blank" data-pjax-state="">2020029793号</a></div>
        </div>
      <% } else if (item == 'copyright') { %>
        <div class='copyright'>
        <%- markdown(theme.site_footer.copyright) %>
          <p>
            <i class="iconfont icon-heartbeat" style="transform: scale(1.25); color: rgba(255, 0, 0, 0.9)"></i>
            本站已运行 <span id="sitetime">载入中...</span>
            <i class="iconfont icon-heartbeat" style="transform: scale(1.25); color: rgba(255, 0, 0, 0.9)"></i>
          </p>
        </div>
      <% } else { %>
        <% if (item in theme.site_footer) { %>
          <div><%- markdown(theme.site_footer[item]) %></div>
        <% } %>
      <% } %>
    <% }) %>
  </footer>
<% } %>