<% if (theme.site_footer) { %>
  <%
  var layout = theme.site_footer.layout;
  if (config.theme_config && config.theme_config.footer && config.theme_config.footer.layout) {
    layout = config.theme_config.footer.layout;
  }
  %>
  <footer class="footer clearfix">
    <% layout.forEach(function(item){ %>
      <% if (item == 'social') { %>
        <br>
        <div class="social-wrapper">
          <% (theme.site_footer.social||[]).forEach(function(value){ %>
            <% if (value.url && (value.icon || value.img || value.avatar)) { %>
              <a href="<%= url_for(value.url) %>"
                class="social <%- value.icon %> flat-btn"
                target="_blank"
                rel="external nofollow noopener noreferrer">
                <% if (value.img) { %>
                  <img src="<%- value.img %>"/>
                <% } else if (value.avatar) { %>
                  <img src="<%- value.avatar %>" style="border-radius:120px"/>
                <% } %>
              </a>
            <%}%>
          <%})%>
        </div>
      <% } else if (item == 'aplayer') { %>
        <div class="aplayer-container">
          <%- partial('../_third-party/aplayer/layout', {post: null, where: 'footer'}) %>
        </div>
      <% } else if (item == 'license') { %>
        <div><%- markdown(__('footer.license')) %></div>
      <% } else if (item == 'info') { %>
        
        <div class="github-badge"><span class="badge-subject" title="由 Hexo 强力驱动">Powered</span><a class="badge-value bg-red" rel="external nofollow noopener noreferrer" href="//hexo.io/" target="_blank" data-pjax-state="">Hexo</a></div>
        <div class="github-badge"><span class="badge-subject" title="站点使用 Volantis 主题">Theme</span><a class="badge-value bg-orange" rel="external nofollow noopener noreferrer" href="//volantis.js.org/" target="_blank" data-pjax-state="">Volantis</a></div>
        <div class="github-badge"><span class="badge-subject" title="jsDelivr 提供 CDN 加速服务">CDN</span><a class="badge-value bg-brightgreen" rel="external nofollow noopener noreferrer" href="//www.jsdelivr.com/" target="_blank" data-pjax-state="">jsDelivr</a></div>
        <div class="github-badge"><span class="badge-subject" title="静态网页托管于 GitHub Pages 和 Coding Pages">Hosted</span><span class="badge-value bg-blue"><a rel="external nofollow noopener noreferrer" href="//github.com/" target="_blank" data-pjax-state="">GitHub</a> & <a rel="external nofollow noopener noreferrer" href="//coding.net/" target="_blank" data-pjax-state="">Coding</a></span></div>

      <% } else if (item == 'copyright') { %>
        <div class='copyright'>
        <%- markdown(theme.site_footer.copyright) %>
        <i class="fas fa-heartbeat" style="font-size: 16px; color: rgba(255, 0, 0, 0.9)"></i>
        <span>本站已运行 </span><span id="sitetime">载入中...</span>
        <i class="fas fa-heartbeat" style="font-size: 16px; color: rgba(255, 0, 0, 0.9)"></i>
        </div>
      <% } else { %>
        <% if (item in theme.site_footer) { %>
          <div><%- markdown(theme.site_footer[item]) %></div>
        <% } %>
      <% } %>
    <% }) %>
  </footer>
<% } %>
<script>
    /* 建站时间, 格式：月/日/年 时:分:秒 */
    var grt = new Date("06/26/2020 00:00:00");
    function createtime() {
        var now = new Date();

        dnum = Math.floor((now - grt ) / (24 * 3600 * 1000)); 
        hnum = checkTime(now.getHours() - grt.getHours(), "h");
        mnum = checkTime(now.getMinutes() - grt.getMinutes());
        snum = checkTime(now.getSeconds() - grt.getSeconds());

        function checkTime(i, type = "s") {
          if (i < 0) { 
            i = type == "h" ? i + 24 : i + 60;
          }
          return i < 10 ? "0" + i : i;
        }
        document.getElementById("sitetime").innerHTML = dnum + " 天 " + hnum + " 小时 " + mnum + " 分 " + snum + " 秒"; 
    }
setInterval("createtime()", 1000);
</script>
